body {
    margin: 0
}

.home {
    display: flex;
    flex-direction: column;
}

.topnav {
    font-family: 'Lilita One';
    font-weight: bold;  
    height: 100px;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 4%
}
.topnav .logo {
    display: flex;
    align-items: center;
}

.topnav .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
}

.topnav p {
    font-size: 20px;
    color: black;
    text-align: center;
}

.bg-img {
    height: calc(100vh - 100px);
    background-image: url('icecream.avif');
    background-size: cover;
}
.bg-img-text {
    color: white;
    font-family: 'Russo One';
    width: 50%;
    align-items: right;
    padding-left: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.bg-img-text h1 {
    font-size: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.bg-img-text p{
    font-size: 24px;
}

.bg-img-text button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: #4d7c0f;
    font-size: 20px;
    width: 250px;
    height: 50px;
    color: white;
    transition-duration: 200ms;
    cursor: pointer;
}

.bg-img-text button:hover {
    background-color: #3f6212
}