body {
    margin: 0
}

.orders {
    display: flex;
    flex-direction: column;
}

.topnav {
    font-family: 'Lilita One';
    font-weight: bold;  
    height: 100px;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 4%
}
.topnav .logo {
    display: flex;
    align-items: center;
}

.topnav .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
}

.topnav p {
    font-size: 20px;
    color: black;
    text-align: center;
}

.menu-grid {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.menu-item {
    width: 300px;
    height: 350px;
    margin: 20px;
    text-align: center;
    border: 2px solid #ccc;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.menu-item:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;

}

.menu-item img {
    background-image: url('icecream.avif');
    max-width: 100%;
    height: auto;
}

.menu-item h2 {
    margin: 10px 0;
}

.menu-item p {
    font-weight: bold;
    color: #fca5a5;
}