<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="../../static/css/style2.css"/>
    </head>
    <div class = 'login'>
        <body>
            <form action = '/' method = 'GET'>
                <h1>Login </h1>
                <div class="email" >
                    <label for = 'email'>Email Address</label>
                    <input id = 'email' type = 'email' name = 'email'>

                </div>
                <div class="password" >
                    <label for = 'password '>Password</label>
                    <input id = 'password' type = 'password' name = 'password'>
                </div>
                <div class = 'checkbox'>
                    <input type = 'checkbox' id = 'remember-me'>
                    <label for = 'remember-me'>Remember me</label>

                </div>
                 
            <button type = 'submit' >Sign in</button>
            <p>Don't have an account yet? <span>Sign up here!</span> </p>
 

            </form>
                      
              

        
           
        </body>
    </div>
</html>

    